---
// Footer row - just empty grid items that expand to fill remaining space
---

<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>

<style>
    /* Make the footer row take remaining space */
    .grid-item {
        grid-row: -1; /* Last row takes remaining space */
    }
</style>
