---
// GridRow component creates a 3-column row with center content slot
---

<div class="grid-item"></div>
<div class="grid-item">
    <div class="content-wrapper">
        <slot />
    </div>
</div>
<div class="grid-item"></div>
